.projects_section{
    /* border:1px solid red; */
    /* height: 50vh; */
}
.projects_content{
    border:1px solid rgba(0,0,0,0.1);
    background-color:var(--container-color);
    padding: 1rem;
    position: relative;
}
.project-img{

}
.tabs_container{
    margin-top: -3rem;
}
.tablist{
    background:var(--body-color);
    text-align: center;
}
.btn{
   color:white;
   padding: 0.3rem 0.7rem;
   border-radius: 0.75rem;
   border:1px solid black;
}
.btn:hover{
    background-color:rgb(247, 244, 244);
    color:black;
}
.project-img-container{
    display: flex;
    width: 100%;
}
.project-img{
    border-radius: 0.25rem;
    height: 50%;
}
.project-title{
    margin: 10px 0;
    height: 30px;
    padding-left: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color:white;
    padding: 0.5rem 0.7rem;
    /* overflow-y:scroll ; */
    opacity: 0;
    text-align: justify;
    transition: .3s ease-out;
    border-radius:0.75rem;
    background-color:rgba(0,0,0,0.92);
}
.title-overlay{
    color:white;
    text-align: center;
}
.projects_content:hover .overlay, .title-overlay{
    opacity: 1;
    cursor: pointer;
  }